<nav class="nav-sticky">
    <ul></ul>
    <label for="drop" class="toggle">MENU</label>
    <input type="checkbox" class="drop" />
    <ul class="menu">
        {{#data}}
        <li>
            <a href="?page={{page_url}}" class="{{#subpages}}toggle-submenu{{/subpages}}">{{page_name}}</a>
                <ul class="submenu">
                    {{#subpages}}
                        <li><a href="?page={{page_url}}">{{page_name}}</a></li>
                    {{/subpages}}
                </ul>
        </li>
        {{/data}}
    </ul>
</nav>